extends layout/main-layout.pug

block title_link
    title #{docTitle}
    link(rel="stylesheet", href="/css/form.css")
block content
    center
        h1 Error 404 Not Found
        a(href='/') Back to home
        hr
        img(src='https://c.tenor.com/KhBoBD7g1l0AAAAd/le-sad.gif' alt='cry-404' width='320px')
