<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ docTitle }}</title>
</head>
<body>
    <center>
        <h1>Error 404 Not Found</h1>
        <a href="/">Back to home</a>
        <hr>
        <img src="https://c.tenor.com/KhBoBD7g1l0AAAAd/le-sad.gif" alt="cry-404" width="320px">
    </center>
</body>
</html>