<main>
    <form class="product-form" action="./add-product" method="POST">
        <div class="form-control">
            <input type="text" name="title">
            <button type="submit">send data</button>
        </div>
    </form>
</main>