<main>
    <h1>My Product</h1>
    <p>List of all product...</p>
    {{#if prods.length > 0 }}
    {{!-- {{#if hasProduct }} --}}
        {{#each prods}}
            <p> {{ this.title }} </p>
    {{else}}
        <p> No Product! </p>
    {{/if}}
</main>