<%- include('layout/includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">

</head>
<body>
    <center>
        <%- include('includes/navigation.ejs') %>
        <h1>Error 404 Not Found</h1>
        <a href="/">Back to home</a>
        <hr>
        <img src="https://c.tenor.com/KhBoBD7g1l0AAAAd/le-sad.gif" alt="cry-404" width="320px">
    </center>

<%- include('layout/includes/end.ejs') %>
