<%- include('layout/header.ejs') -%> 
<div class="form-card">
    <form action="/" method="post" class="form-group">
        <span>Please Enter Information</span>
        <input type="text" name="Username" id="Uname_id" placeholder="Username">
        <input type="text" name="Imgurl" id="Img_url_id" placeholder="IMGURL">
        <input type="password" name="Password" id="Pw_id" placeholder="Password">
        <button type="submit">Submit</button>
    </form>
</div>
<%- include('layout/footer.ejs') -%> 