<div class="navigation-bar">
    <nav class="navigation-bar-top">
        <ul class="list-menu">
            <li class="menu-list"><a href="/" class="menu-link <%= active === 'home' ? 'active':'' %>">Home</a></li>
            <li class="menu-list"><a href="/users" class="menu-link <%= active === 'users' ?  'active':'' %> ">Users</a></li>
            <li class="menu-list"><a href="/admin/admin-edit" class="menu-link <%= active === 'admin-edit' ?  'active':'' %> ">Admin-edit</a></li>
        </ul>
    </nav>
</div>
