<%- include('../layout/includes/head.ejs') %>
<link rel="stylesheet" href="/css/form.css">

</head>
<body>
    <%- include('../layout/includes/navigation.ejs') %>
    <h1>Nothing</h1>
<%- include('../layout/includes/end.ejs') %>