<%- include('layout/header.ejs') -%> 
<div class="form-card">
    <form action="/" method="post" class="form-group">
        <span>Please Enter Username</span>
        <input type="text" name="Username" id="Uname_id" placeholder="Username">
        <button type="submit">Submit</button>
    </form>
</div>
<%- include('layout/footer.ejs') -%> 