</div>
</body>
    <div class="footer-bottom">
        <footer>
            <center>
                <div class="footer-text">
                    <span>Copyright &copy; Barko.Bank</span> <span id="current-year"></span> 
                </div>
            </center>
        </footer>
    </div>
</html>

<script>
    const d = new Date();
    let year = d.getFullYear()
    document.getElementById("current-year").innerHTML = year;
</script>